/* Common styles */

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Roboto+Mono&subset=cyrillic');

body {
	font-family: 'Merriweather', 'Geogria', sans-serif;
	max-width: 800px;
	margin: auto;
	font-size: 15px;
	padding: 0 5px 5px 5px;
	-webkit-text-size-adjust: 100%;
}

ul {
	list-style-type: square;
}

a {
	color: #ed6827;
	text-decoration: none;
}

code {
	font-size: 14px;
	background-color: #fffff0;
	border-radius: 2px;
	border: 1px solid #ccccc0;
	padding: 0 3px 0 3px;
	font-family: 'Roboto Mono', monospace;
}

pre {
	background-color: #fffff0;
	border: 1px solid #ccccc0;
	overflow: auto;
	padding: 10px;
	border-radius: 2px;
	font-family: 'Roboto Mono', monospace;
}

pre code {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
}

a:hover {
	text-decoration: underline;
	color: #000;
}

img {
	max-width: 100%;
}

/* Blog title styles */

#blog-title {
	width: 40%;
	float: left;
}

#blog-title h1 {
	letter-spacing: 2px;
}

#blog-title h1 a {
	color: black;
	text-decoration: none;
}

#blog-menu {
	width: 60%;
	float: left;
	text-align: right;
	margin-top: 35px;
}

#blog-menu a {
	padding-left: 10px;
}

#blog-title-image {
	width: 100%;
}

/* Content styles */

content {
	line-height: 25px;
}

content h1, content h2, content h3, content h4, content h5, content h6 {
	font-weight: 100;
	line-height: 40px;
}

content h1 code, content h2 code, content h3 code, content h4 code, content h5 code, content h6 code {
	font-size: 100%;
}

blockquote {
	border-left: 5px solid #ed6827;
	padding-left: 10px;
	margin-left: 10px;
}

.post-date {
	font-size: 14px;
}

.post-title {
	font-size: 37px;
	line-height: 45px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.blog-item-date {
	display: inline-block;
	width: 105px;
}

.blog-item-date-small {
	display: none;
}

.blog-item {
	list-style-type: none;
}

/* Footer styles */

footer {
	margin-top: 10px;
	border-top: 1px solid #000;
	padding: 10px 0 30px 0;
	font-size: 14px;
}

/* Styles for small screens */

@media (max-width: 750px) {
	#top {
		margin-top: 20px;
	}
	#blog-title {
		width: 100%;
		float: none;
		text-align: center;
	}
	#blog-menu {
		width: 100%;
		float: none;
		text-align: center;
		margin: -10px 0 20px 0;
	}
	#blog-menu a {
		padding: 0 5px 0 5px;
	}
	
	.blog-item-date {
		display: none;
	}
	
	.blog-item-date-small {
		display: inline;
	}
	
	.blog-item {
		list-style-type: square;
	}
}

/* The scroll-to-top button */

#scroll-btn {
    display: none;
    position: fixed;
    bottom: 10px; 
    right: 15px; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ed6827;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px 15px 15px;
	font-size: 20px;
	border-radius: 5px;
}
